In [1]:
import pandas as pd
import pyodbc
import matplotlib.pyplot as plt
import numpy as np
server = "DESKTOP-T06C5FR\SQL2019DEV"
database = "NHLData"
username = "sa"
password = "CounterPoint8"
connectionString = "DRIVER={ODBC Driver 17 for SQL Server};SERVER="+server+";DATABASE="+database+";UID="+username+";PWD="+password

In [44]:
cnxn = pyodbc.connect(connectionString)
df = pd.read_sql_query("SELECT G.SeasonID, GP.Period, GP.PeriodTime, GPG.EmptyNet FROM dbo.Games G INNER JOIN dbo.GamePlays GP ON G.GameID = GP.GameID INNER JOIN GamePlayGoals GPG ON GP.GamePlayID = GPG.GamePlayID WHERE G.GameType = 'R'", con=cnxn)

#df.describe(include="all")
bins = np.linspace(min(df["PeriodTime"]), max(df["PeriodTime"]), 4)
bins
#group_names = ["Low","Medium", "High"]
#df["PeriodTimeBins"] = pd.cut(df["PeriodTime"], bins, labels=group_names, include_lowest=True)

#count = df[["PeriodTimeBins"]].value_counts()
#count.rename(columns={"Period":"value_counts"}, inplace=True)
#count.index.name="Period"
#count

array([   0.        ,  399.66666667,  799.33333333, 1199.        ])

In [5]:
cnxn = pyodbc.connect(connectionString)
df = pd.read_sql_query("SELECT G.GameID, G.AwayScore, G.HomeScore, G.GameEnded, D.AwayGoals, D.HomeGoals FROM dbo.TestCaseGameDetails D INNER JOIN dbo.VI_Game G ON D.GameID = G.GameID WHERE TestCaseID = 8", con=cnxn)
df.index
df

   AwayScore  HomeScore GameEnded  AwayGoals  HomeGoals
0          3          2  ShootOut       1341        788
1          2          3  Overtime        709       1030
2          3          2  Overtime        612        893
3          1          4    Normal       1264       1143
4          5          2    Normal       1111        995
5          6          5  Overtime        790        858